Django==6.0.6
djangorestframework==3.17.1
gunicorn==26.0.0
psycopg2-binary==2.9.12
python-decouple==3.8
whitenoise==6.12.0

google-generativeai==0.8.6

pandas==3.0.3
numpy==2.4.6
requests==2.34.2
cryptography==48.0.1