annotated-types==0.7.0
asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.1
Django==6.0.6
djangorestframework==3.17.1
google-ai-generativelanguage==0.6.15
google-api-core==2.31.0
google-api-python-client==2.197.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
grpcio==1.81.1
grpcio-status==1.71.2
gunicorn==26.0.0
httplib2==0.31.2
idna==3.18
numpy==2.4.6
packaging==26.2
pandas==3.0.3
proto-plus==1.28.0
protobuf==5.29.6
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tqdm==4.68.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.7.0
whitenoise==6.12.0
